.flash-card {
    margin-top: 1.04167em;
    padding: 30px;
    background: govuk-colour("blue");
    color: white;
    @media (min-width: 769px) {
      margin-top: 1.25em;
      padding: 60px;
    }
    [class*=govuk-heading], [class*=govuk-body] {
      color: white;
    }
    .button, .govuk-button {
      background-color: white;
      color: govuk-colour("blue");
      font-weight: bold;
    }
  }
    

.steps {
    @include govuk-typography-common; 
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    margin: 30px 0 30px;
    .step {
      display: flex;
      justify-content: stretch;
      align-items: stretch;
      &:last-child {
        .step-number .step-number-track {
          display: none;
        }
      }
      .step-number {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: stretch;
        margin-right: 30px;
        .step-number-digit {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: white;
          border-radius: 50%;
          font-weight: bold;
          > span {
            display: block;
            transform: translateY(0.075em);
            color: govuk-colour("blue");
          }
        }
        .step-number-track {
          flex-grow: 0.95;
          width: 100%;
          background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg width='40px' height='25px' viewBox='0 0 40 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 50.2 (55047) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EArtboard%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Artboard' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Ccircle id='Oval' fill='%23FFFFFF' cx='20.5' cy='22.5' r='2.5'%3E%3C/circle%3E%3Ccircle id='Oval' fill='%23FFFFFF' cx='20.5' cy='10' r='2.5'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
          background-repeat: repeat;
          background-size: 100%;
        }
      }
      .step-detail {
        padding-top: 5px;
        padding-bottom: 24px;
      }
    }
  }