{% extends 'layout.html' %}

{% block pageTitle %}
    Teaching staff on long term paid absence for longer than a term
{% endblock %}

{% block content %}

{% from "partials/quantity-and-hours.njk" import quantityAndHours %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <form action="{{ 'teacher-totals' if data['from-totals'] == 'true' else 'relief-staff' }}">

                <h1 class="govuk-heading-xl">Teaching staff on long term paid absence for longer than a term</h1>

                {{ quantityAndHours({
                    subject: 'teaching staff absent',
                    prefix: 'leave',
                    supQuestion: 'Total contracted hours for all part-time teaching staff who were on long term paid absence'
                }, data) }}

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}