{% extends 'layout.html' %}

{% block pageTitle %}
    Does your school have any relief teaching staff covering paid absences of less than a term?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <form method="post">

                {{ govukRadios({
                    classes: 'govuk-radios--inline',
                    idPrefix: 'relief-staff',
                    name: 'relief-staff',
                    fieldset: {
                        legend: {
                            text: 'Does your school have any relief teaching staff covering paid absences of less than a term?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--xl'
                        }
                            },
                            items: [
                        {
                            text: 'Yes',
                            value: 'yes'
                        },
                        {
                            text: 'No',
                            value: 'no'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>

<script>

    var nextPageRoutes = {
        yes: 'relief-staff-numbers',
        no: 'teacher-types'
    }

</script>

{% endblock %}