{% extends 'layout.html' %}

{% block pageTitle %}
    Teachers on a graduate training scheme at your school
{% endblock %}

{% block content %}

{% from "partials/quantity-and-hours.njk" import quantityAndHours %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <form action="hlta-teaching-assistants">

                <h1 class="govuk-heading-xl">Teachers on a graduate training scheme at your school</h1>

                {{ quantityAndHours({
                    subject: 'teachers on a graduate training scheme',
                    prefix: 'graduates',
                    supQuestion: 'Total number of hours worked by all part-time teachers on a graduate training scheme',
                    supQuestionHint: 'Enter total directed hours worked by part-time teachers on a graduate training scheme only, excluding lunch hours.'
                }, data) }}

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>



{% endblock %}