{% extends 'layout.html' %}

{% block pageTitle %}
    What is the gender of the Headteacher or Acting Headteacher?
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <form action="leave.html">

                {{ govukRadios({
                    classes: 'govuk-radios--inline',
                    idPrefix: 'head-gender',
                    name: 'head-gender',
                    fieldset: {
                        legend: {
                            text: 'What is the gender of the Headteacher or Acting Headteacher?',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--xl'
                        }
                            },
                            items: [
                        {
                            text: 'Man',
                            value: 'Man'
                        },
                        {
                            text: 'Woman',
                            value: 'Woman'
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}