{% extends 'layout.html' %}

{% block pageTitle %}
    Non-qualified teachers at your school
{% endblock %}

{% block content %}


{% from "partials/quantity-and-hours.njk" import quantityAndHours %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <form action="graduates">

                <h1 class="govuk-heading-xl">Non-qualified teachers at your school</h1>

                {{ quantityAndHours({
                    subject: 'non-qualified teachers',
                    prefix: 'non-qualified',
                    supQuestion: 'Total number of hours worked by all part-time non-qualified teachers',
                    supQuestionHint: 'Enter total directed hours worked by part-time non-qualified teachers only, excluding lunch hours.'
                }, data) }}

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}