{% extends 'layout.html' %}

{% block pageTitle %}
    Relief teaching staff at your school
{% endblock %}

{% block content %}

{% from "partials/quantity-and-hours.njk" import quantityAndHours %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <form action="staff-types">

                <h1 class="govuk-heading-xl">Relief teaching staff at your school</h1>

                <p>Enter the number of male and female staff on long term paid absence, as on 18 January 2019.</p>

                {{ quantityAndHours({
                    subject: 'relief teaching staff',
                    prefix: 'relief',
                    supQuestion: 'Total number of hours worked by all part-time relief teaching staff',
                    supQuestionHint: 'Enter total directed hours worked by part-time relief teaching staff only, excluding lunch hours.'
                }, data) }}

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}