{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{ data['la-school-name'] | orElse('Feethams High School') if data['user-type'] == 'la' else data['school-name'] | orElse('Feethams High School') }}</span>
      <h1 class="govuk-heading-xl">
        Return your general hospital school census
      </h1>

      <p class="govuk-body-l govuk-!-padding-bottom-5">The census deadline is 15 February 2019</p>

      {% set totalSections = 6 %}
      {% set completedSections = 0 %}

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Tell us about your pupils
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="pupil-numbers/check-what-you-need.html" aria-describedby="company-information-completed">
                Check what you need
              </a>
              {% if data['has-checked-pupil'] == 'true' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
              {% set completedSections = completedSections + 1 %}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data['has-checked-pupil'] == 'true' or data['pupil-numbers-complete'] == 'true' %}
                {% if data['pupil-numbers-complete'] == 'true' %}
                  <a href="pupil-numbers/pupil-totals?is-submitting=false">Tell us about pupils on the register</a>
                {% else %}
                  <a href="pupil-numbers/any-part-time?from-totals=false">Tell us about pupils on the register</a>
                {% endif %}
              {% else %}
              Tell us about pupils on the register
              {% endif %}
              {% if data['pupil-numbers-complete'] == 'true' %}
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
                {% set completedSections = completedSections + 1 %}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data['pupil-numbers-complete'] == 'true' %}
                {% if data['pupil-details-complete'] == 'true' or data['pupil-details-complete'] == 'incomplete' %}
                  <a href="pupil-census-details/detail-totals?is-submitting=false">Tell us the pupil census details</a>
                {% else %}
                  <a href="pupil-census-details/free-school-meals?from-totals=false">Tell us the pupil census details</a>
                {% endif %}
              {% else %}
              Tell us the pupil census details
              {% endif %}
              {% if data['pupil-details-complete'] == 'true' %}
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
                {% set completedSections = completedSections + 1 %}
              {% elseif data['pupil-details-complete'] == 'incomplete' %}
              <strong class="govuk-tag govuk-tag--orange app-task-list__task-completed" id="eligibility-completed">Incomplete</strong>
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Tell us about your staff
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="staff/check-what-you-need.html" aria-describedby="company-information-completed">
                Check what you need
              </a>
              {% if data['has-checked-staff'] == 'true' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
              {% set completedSections = completedSections + 1 %}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data['teachers-complete'] %}
                <a href="teachers/teacher-totals?is-submitting=false">Tell us the teaching staff census data</a>
                {% if data['teachers-complete'] == 'true' %}
                <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
                {% set completedSections = completedSections + 1 %}
                {% else %}
                <strong class="govuk-tag govuk-tag--orange app-task-list__task-completed" id="eligibility-completed">Incomplete</strong>
                {% endif %}
              {% else %}
                {% if data['has-checked-staff'] == 'true' %}
                  <a href="teachers/headteacher.html?from-totals=false">Tell us the teaching staff census data</a>
                {% else %}
                  Tell us the teaching staff census data
                {% endif %}
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if data['has-checked-staff'] == 'true' %}
                  {% if data['staff-complete'] == 'true' %}
                  <a href="staff/staff-totals?is-submitting=false">Tell us the non-teaching staff census data</a>
                  {% else %}
                  <a href="staff/non-teaching-staff.html?from-totals=false">Tell us the non-teaching staff census data</a>
                  {% endif %}
                {% else %}
                Tell us the non-teaching staff census data
              {% endif %}
              {% if data['staff-complete'] == 'true' %}
              <strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
                {% set completedSections = completedSections + 1 %}
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>

      {% set remainingSections = totalSections - completedSections %}

      {% if remainingSections == 0 %}

      <form action="pupil-numbers/pupil-totals">

      <input type="hidden" name="is-submitting" value="true">
      {{ govukButton({
        html: 'Review and submit census'
      }) }}

      </form>

      {% else %}

      <p>There {{ 'is one more section' if (remainingSections == 1) else ('are ' + remainingSections + ' more sections' if (remainingSections != totalSections) else 'are ' + totalSections + ' sections')  }} to complete before you can submit this school census.</p>

      {% endif %}

    </div>
  </div>

{% endblock %}
