
// Total pupil counter

// #pupil-count-container {
//     height: 3177px;
// }

#pupil-count {
    margin-bottom: 0px;
    padding-top: 208px;
    padding-left: 50px;
    top: -190px;
    float: right;
}

#pupil-count-error{
    margin-bottom: 0px;
    padding-top: 437px;
    padding-left: 50px;
    top: -405px;
}

#pupil-count-header {
    margin-bottom: 0px;
}
