
{% extends "layout.html" %}

{% block pageTitle %}
  Send your school census
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			{{ serviceName }} prototype
			<span class="govuk-caption-xl">GOV.UK Prototype Kit {{releaseVersion}}</span>
		</h1>

		<p class="govuk-body">
			The content of this service is to be made available to authorised Department for Education employees and contractors only. This is a prototype, do not use this service to submit real school data.
		</p>

	</div>
	
</div>

<div class="govuk-grid-row cards">

	<div class="card">
		<div class="card-body active">
			<h3 class="govuk-heading-s card-heading">Design</h3>
		</div>
		<div class="card-action govuk-body-s">
			<ul class="govuk-list govuk-!-font-size-16">
				<li><a class="govuk-link" href="iterations/current/options.html">Current iteration</a></li>
				<li><a class="govuk-link" href="archive.html">Archive</a></li>
			</ul>
		</div>
	</div>

	<div class="card">
		<div class="card-body active">
			<h3 class="govuk-heading-s card-heading">User research</h3>
		</div>
		<div class="card-action">
			<ul class="govuk-list govuk-!-font-size-16">
				<li><a class="govuk-link" href="ur/current/options.html">28 February 2019</a></li>
				<li><a class="govuk-link" href="ur/7-2-19/options.html">7 February 2019</a></li>
			</ul>
		</div>
	</div>

	<div class="card">
		<div class="card-body active">
			<h3 class="govuk-heading-s card-heading">In development</h3>
		</div>
		<div class="card-action">
			<ul class="govuk-list govuk-!-font-size-16">
				<li><a class="govuk-link" href="dev/current/options.html">Current stable iteration</a></li>
			</ul>
		</div>
	</div>

</div>

{% endblock %}
